.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 2px;
    color: blue;
}

.active{
    background: blue;
    color: white;
}

.page-num{
    padding: 6px;
    border: 2px solid #CED4DA;
}